@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Exo+2&display=swap');

.title{
    text-align: center;
    align-content: center;
    min-height: 400px;
    background-color: #c80a69b3;
}
.title h1{
    font-family: 'Agbalumo', sans-serif;
    font-size: 3.5rem;
}

.article{
    font-size: 1.2rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 15rem;
}

.navbar{
    margin-bottom: 0 !important;
}

/* Dotted red border */
hr.new3 {
    border-top: 3px dotted green;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }